@page
@model host.Pages.IndexModel
@{
	ViewData["Title"] = "Home page";
}

<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Index.cshtml</title>
	<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/app.css" rel="stylesheet" asp-append-version="true" />
	<style type="text/css">
		html,
		body {
			font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		}

		.container {
			font-weight: bold;
			font-size: 1rem;
		}

		li {
			margin-bottom: 0.5rem;
			margin-left: 2rem;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="row mt-5">
			<div class="col d-flex align-items-center justify-content-center">
				<div class="card" style="width: 500px; padding: 40px; background-color: whitesmoke;">
					<h3 class="card-title text-center mb-4">Hosted Blazor WebAssembly</h3>
					<div class="input-group input-group-lg mb-4">
						<input type="text" class="form-control" placeholder="username">
					</div>
					<div class="input-group input-group-lg mb-4">
						<input type="password" class="form-control" placeholder="password">
					</div>
					<div class="input-group input-group-lg d-grid">
						<a href="http://@Model.HostName:7004" type="button" class="btn btn-primary">Login</a>
					</div>
					<h6 class="text-center text-muted mt-4">hostname : @Model.HostName</h6>
					<h6 class="text-center text-muted">machinename : @Model.MachineName</h6>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
