@page "/"

<PageTitle>Index</PageTitle>

<h1>App Menu: Hello, world!</h1>

Welcome to your new collection of hosted Blazor WebAssembly applications.

<SurveyPrompt Title="How is Blazor working for you?" />

<div style="height: 100px; width: 100%; background-color: gray;"></div>
